<h1>Account</h1>

<%= form_for current_user, url: account_url do |f| %>
  <% if f.object.email_change_unconfirmed? %>
    <div>
      Your email address (<%= f.object.new_email %>) has not been confirmed yet. In the
      meantime, emails will continue to be sent to <%= f.object.email %>.
    </div>
  <% end %>

  <div>
    <%= f.label :new_email, 'Email address:' %>
    <%= f.text_field :new_email %>
    <%= error_on f.object, :new_email %>
  </div>
  
  <div>
    <%= f.label :password, 'Change password (or leave blank for no change):' %>
    <%= f.password_field :password %>
    <%= error_on f.object, :password %>
    <%= render partial: 'users/password_strength_instructions' %>
  </div>
  
  <div>
    <%= f.label :password_confirmation, 'Confirm new password (or leave blank for no change):' %>
    <%= f.password_field :password_confirmation %>
    <%= error_on f.object, :password_confirmation %>
  </div>
  
  <div>
    <%= f.label :time_zone, 'Time zone:' %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: 'Eastern Time (US & Canada)' %>
    <%= error_on f.object, :time_zone %>
  </div>
  
  <div><%= f.submit 'Save' %></div>
<% end %>