<%= form_for @user_session, url: login_path do |f| %>
  <% if @user_session.bad_credentials? %>
      <% if User.has_login_field? %>
        <%= alert 'Incorrect login or password.', type: :danger %>
      <% else %>
        <%= alert 'Incorrect email or password.', type: :danger %>
      <% end %>
  <% elsif @user_session.errors.include?(:activation) %>
    <%= alert 'Your account has not been activated.', type: :danger %>
  <% end %>
  
  <%= f.group :login do %>
    <% if User.has_login_field? %>
      <%= f.label :login, 'Login:' %>
      <%= f.text_field :login, class: 'form-control' %>
    <% else %>
      <%= f.label :email, 'Email:' %>
      <%= f.text_field :email, class: 'form-control' %>
    <% end %>
  <% end %>

  <%= f.group :login do %>
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password, class: 'form-control' %>
  <% end %>
  
  <div class="checkbox">
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %>
      Remember me
    <% end %>
  </div>
  
  <button type="submit" class="btn btn-default">Log in</button>
<% end %>